* {
  margin: 0;
  padding: 0;
}

:root {
  --default: rgb(255,255,255,.7);
}

html,
body,
#root,
.App,
main {
  height: 100%;
}

main {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: var(--default);
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}