#audio-container {
  /* padding: 1rem; */
  text-align: center;
}

#audio-container button {
  width: 100%;  
  font-size: 1rem;
  color: rgb(255,255,255,.7);
  text-decoration: underline;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}

#audio-container .warning {
  color: #dc3545;
}